extends layout

block content
  h1 My todos
  label(for="input-name") Add your name: 
  input(type="text" id="input-name")
  br
  label(for="input-task") Add task: 
  input(type="text" id="input-task")
  br
  button(id="submit-data") Submit
  p#result-text   
  br
  // Searching for name
  label(for="search-name") Search todos by name: 
  input(type="text" id="search-name")
  button(id="search") Search
  p#search-result
  button#delete-user Delete user
  p#delete-result
